/* Write your CSS here */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 30px;
}
.counter-container {
  height: 500px;
  width: 500px;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 50px;
}
.para {
  font-family: 'Roboto';
  color: #334155;
  font-size: 25px;
}
.button {
  border-color: #0f172a;
  width: 140px;
  height: 40px;
}
.paragraph{
  color: #1e293b;
}